.navbar {
    background: var(--dark-color);
    color: #fff;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}
